# General .NET build and dependency files
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.userprefs
*.csproj.user
*.pidb

# IDEs
.vscode/
.idea/
*.swp
*.sublime-*
*.ncrunch*
.vscode/

# macOS specific files
.DS_Store
*.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Packages
*.nupkg
*.snupkg
*.nuspec
*.lock.json

# MAUI-specific build artifacts
**/platforms/android/.gradle/
**/platforms/android/.idea/
**/platforms/android/local.properties
**/platforms/android/.cxx/
**/platforms/android/app/build/
**/platforms/android/build/
**/platforms/ios/.*
**/platforms/ios/build/

# Xamarin/Mobile specific
build/
xcuserdata/
*.xcworkspace
project.xcworkspace/
*.xcuserstate
*.mode1v3
*.mode2v3
*.pbxuser
*.scheme
*.plist

# Log files
*.log

# Crashlytics files
fabric.properties
crashlytics-build.properties

# npm package directories (for Blazor Hybrid)
node_modules/

# Sensitive or environment-specific configuration files
.env
.env.*.local
